.filled {
  color: #FFAA00;
}

:global(.dark) .filled {
  color: #EEFF00;
}

.cancelled {
  color: #F54562;
}

:global(.dark) .cancelled {
  color: #FF00AA;
}

.open {
  color: #16B862;
}

:global(.dark) .open {
  color: #00FFAA;
}
