.btn {
    cursor: pointer;
    transition: opacity 0.25s ease;
}

.btn:hover {
    opacity: 0.7;
}

.btn[disabled] {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}

.btnLite {
    composes: btn;
    background: #F8F8F8;
    border-radius: 2px;
    color: #9090A8;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    border: 0;
}

.dark.btnLite {
    background: rgba(224, 224, 255, 0.02);
}

.primary {
    composes: btn;
    color: #fff;
    border-radius: 2px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;

    border: none;
    -webkit-appearance: none;
    outline: none;

    background: linear-gradient(167.91deg, #00FFAA 0%, #00BBFF 53.09%, #4579F5 100%);
    box-shadow: 0 8px 12px rgba(0, 187, 255, 0.24), 0 2px 4px rgba(10, 70, 82, 0.12), 0 0 1px rgba(0, 187, 255, 0.24);
}

.transparent {
    composes: btn;
    background: transparent;
    border: 1px solid #E6E6E7;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.transparent.dark {
    border: 1px solid #9090A8;
}

