.modalContainer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 16, 41, 0.06);
  z-index: 1000;

  -webkit-transform: scale(1.15);
  transform: scale(1.15);

  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946),
  opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  transition: transform 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946),
  opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);

  opacity: 0;
  will-change: transform, opacity;
  pointer-events: none;
}

.popupFader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modalContainer.visibleNoAnim {
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);

  -webkit-transition: opacity 0.15s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  transition: opacity 0.15s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.modalContainer.visible {
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);

  /* Появление медленнее чем скрытие, поэтому переопределяем transition */
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946),
  opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946),
  opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

:global(.dark) .modalContainer {
  background-color: rgba(32, 32, 54, 0.8);
}
