.root {
    text-align: center;
    width: 72px;
    font-weight: 600;
    padding: 10px;
    font-size: 10px;
    line-height: 20px;
    cursor: pointer;
    color: var(--color-text-second);
    transition: opacity 0.25s ease;
}

.root:hover {
    opacity: 0.7;
}
