.root {
    flex-shrink: 0;
}

.img {
    display: block;
    max-height: 100%;
    max-width: 100%;
}

.icon {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.colorXrp {
    background-image: url("/img/icons_currency_color/xrp.svg");
}

.colorUsdt {
    background-image: url("/img/icons_currency_color/usdt.svg");
}

.colorErd {
    background-image: url("/img/icons_currency_color/egld.svg");
}

.plus {
    background-image: url("/img/plus.svg");
}

.plus.dark {
    background-image: url("/img/plus_dark.svg");
}

.minus {
    background-image: url("/img/minus.svg");
}

.minus.dark {
    background-image: url("/img/minus_dark.svg");
}

.plusPrimary {
    background-image: url("/img/plus_primary.svg");
}

.plusPrimary.dark {
    background-image: url("/img/plus_primary_dark.svg");
}

.star {
    background-image: url("/img/star.svg");
}

.star.dark {
    background-image: url("/img/star_dark.svg");
}

.starFill {
    background-image: url("/img/star_fill.svg");
}

.next {
    background-image: url("/img/next.svg");
}

.next.dark {
    background-image: url("/img/next_dark.svg");
}

.disconnect {
    background-image: url("/img/disconnect.svg");
}

.disconnect.dark {
    background-image: url("/img/disconnect_dark.svg");
}

.arrowGrow {
    background-image: url("/img/arrow_grow.svg");
}

.depositWhite {
    background-image: url("/img/deposit_white.svg");
}
.depositWhite.dark {
    background-image: url("/img/deposit_white_dark.svg");
}
.withdrawWhite {
    background-image: url("/img/withdraw_white.svg");
}
.withdrawWhite.dark {
    background-image: url("/img/withdraw_white_dark.svg");
}
.copy {
    background-image: url("/img/copy.svg");
}
.copy.dark {
    background-image: url("/img/copy_dark.svg");
}
