.root {
  display: flex;
  align-items: center;
}

.text {
  color: #434054;
  margin-left: 7px;
  font-weight: 600;
}

:global(.dark) .text {
  color: #fff;
}

.iconWrapper {
  width: 21px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
}
