h1 {
  font-weight: 600;
  font-size: 25px;
  line-height: 100%;
  color: #141029;
  margin: 0;
}

:global(.dark) h1 {
  color: #fff;
}

@media (max-width: 800px) {
  h1 {
    font-size: 20px;
  }
}

h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #434054;
  margin: 0;
}

:global(.dark) h2 {
  color: #fff;
}

h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #434054;
  margin: 0;
}

:global(.dark) h3 {
  color: #fff;
}

@media (max-width: 800px) {
  h3 {
    font-size: 18px;
  }
}

h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  color: #434054;
  margin: 0;
}

:global(.dark) h4 {
  color: #fff;
}
