.icon {
    width: 24px;
    height: 24px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.icon-eth {
    background-image: url("/img/icons_currency_grey/eth.svg");
}

.icon-btc {
    background-image: url("/img/icons_currency_grey/bitcoin.svg");
}

.icon-dash {
    background-image: url("/img/icons_currency_grey/Combined Shape.svg");
}

.icon-color-eth {
    background-image: url("/img/icons_currency_color/eth.svg");
}

.icon-color-btc {
    background-image: url("/img/icons_currency_color/bitcoin.svg");
}

.icon-color-xrp {
    background-image: url("/img/icons_currency_color/xrp.svg");
}

.icon-color-usdt {
    background-image: url("/img/icons_currency_color/usdt.svg");
}

.icon-color-egld {
    background-image: url("/img/icons_currency_color/egld.svg");
}

.icon-color-orn {
    background-image: url("/img/icons_currency_color/orn.svg");
}

.icon-plus {
    background-image: url("/img/plus.svg");
}

.dark .icon-plus {
    background-image: url("/img/plus_dark.svg");
}

.icon-wallet {
    background-image: url("/img/wallet.svg");
}

.icon-minus {
    background-image: url("/img/minus.svg");
    background-size: 40% !important;
}

.dark .icon-minus {
    background-image: url("/img/minus_dark.svg");
    background-size: 40% !important;
}

.icon-plus-primary {
    background-image: url("/img/plus_primary.svg");
}

.dark .icon-plus-primary {
    background-image: url("/img/plus_primary_dark.svg");
}

.icon-star {
    background-image: url("/img/star.svg");
}

.dark .icon-star {
    background-image: url("/img/star_dark.svg");
}

.icon-star-fill {
    background-image: url("/img/star_fill.svg");
}

.icon-next {
    background-image: url("/img/next.svg");
}

.dark .icon-next {
    background-image: url("/img/next_dark.svg");
}

.icon-info {
    background-image: url("/img/info.svg");
}

.icon-disconnect {
    background-image: url("/img/disconnect.svg");
}

.dark .icon-disconnect {
    background-image: url("/img/disconnect_dark.svg");
}

.icon-dropdown {
    background-image: url("/img/dropdown.svg");
}

.dark .icon-dropdown {
    background-image: url("/img/dropdown_dark.svg");
}

.icon-dropup {
    background-image: url("/img/dropdown.svg");
    transform-origin: center;
    transform: rotate(180deg);
}

.dark .icon-dropup {
    background-image: url("/img/dropdown_dark.svg");
    transform-origin: center;
    transform: rotate(180deg);
}

.icon-arrow-grow {
    background-image: url("/img/arrow_grow.svg");
}

.icon-arrow-fall {
    background-image: url("/img/arrow_fall.svg");
}

.icon-trade-white {
    background-image: url("/img/trade_white.svg");
}
.dark .icon-trade-white {
    background-image: url("/img/trade_white_dark.svg");
}
.icon-deposit-white {
    background-image: url("/img/deposit_white.svg");
}
.dark .icon-deposit-white {
    background-image: url("/img/deposit_white_dark.svg");
}
.icon-withdraw-white {
    background-image: url("/img/withdraw_white.svg");
}
.dark .icon-withdraw-white {
    background-image: url("/img/withdraw_white_dark.svg");
}
.icon-copy {
    background-image: url("/img/copy.svg");
}
.dark .icon-copy {
    background-image: url("/img/copy_dark.svg");
}
