small {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #A19FA9;
  display: block;
}

:global(.dark) small {
  color: #9090A8;
}

p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #A19FA9;
  margin: 0;
}

:global(.dark) p {
  color: #fff;
}

